<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>O NAS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: none;
        }
    </style> </head>

<body class="w-100 mx-auto h-100">
<div th:include="header :: header"></div>
<div class="bg text-center">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-black">
                <h1 class="display-3 mb-4">Kino SINEMASITY</h1>
                <p class="lead mb-7 text-center ">&nbsp;SinemaSity jest częścią grupy SinemaHeh PLC, która jest jedną z czołowych/wiodących sieci kin w Europie. SinemaHeh obejmuje 9 krajów: Polskę, Wielką Brytanię, Izrael, Węgry, Czechy, Bułgarię, Rumunię, Słowację oraz Irlandię. Obecnie sieć posiada 222 kina z aż 2049 ekranami oraz obsługuje 3.500.000 projekcji filmowych dla ponad 90 milionów klientów rocznie. <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/></p>
            </div>
        </div>
    </div>
    <div class="container"></div>
</div>

</body>

</html>