<!DOCTYPE HTML>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <style>
        body {
            background-image: none;
        }
    </style>
</head>
<body>
    <div th:include="header :: header"></div>
    <!--<th:block th:each="m : ${movies}">-->
<!--&lt;!&ndash;    <div class="list-group"> &ndash;&gt;-->
        <!--<a href="@{movie.html(id=${m.id})}" class="list-group-item list-group-item-action" th:text="${m.title}"/>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</th:block>-->
    <tbody id="myTable">
    <th:block th:each="m : ${movies}">
        <tr class="text-white">
            <td><a th:href="@{/movie(id=${m.id})}"><p th:text="${m.title}" class="mb-0"></a></p></td>
        </tr>
    </th:block>
    </tbody>


</body>
</html>